{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $name := "Claude Grondin" -}}
{{- $email := "claude.grondin@telus.com" -}}
{{- $github_user := "C1aud3" -}}

sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
    codespaces = {{ $codespaces }}
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    github_user = {{ $github_user | quote }}
