{{- if .codespaces -}}
#!/bin/sh

echo "Downloading fonts..."
curl -fsSL https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf \
  --create-dirs --output $HOME/.local/share/fonts/MesloLGS_NF_Regular.ttf
curl -fsSL https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf \
  --create-dirs --output $HOME/.local/share/fonts/MesloLGS_NF_Bold.ttf
curl -fsSL https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf \
  --create-dirs --output $HOME/.local/share/fonts/MesloLGS_NF_Italic.ttf
curl -fsSL https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf \
  --create-dirs --output $HOME/.local/share/fonts/MesloLGS_NF_Bold_Italic.ttf

{{- end -}}
